#canvas {
	display: block;
}

.settings {
	position: absolute;
	top: 20px;
	right: 110px;
	padding: 0px 10px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid black;
	opacity: 1;
	transition: all .2s;
	z-index: 1;
	&:hover {
		opacity: .95;
		background: rgba(#000, .8);
		color: #fff;
		cursor: pointer;
	}
}

.clear {
	position: absolute;
	top: 20px;
	right: 10px;
	padding: 0px 12.5px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid black;
	opacity: 1;
	transition: all .2s;
	z-index: 1;
	&:hover {
		opacity: .95;
		background: rgba(#000, .8);
		color: #fff;
		cursor: pointer;
	}
}

.save {
	position: absolute;
	top: 20px;
	right: 60px;
	padding: 0px 10px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid black;
	opacity: 1;
	transition: all .2s;
	z-index: 1;
	&:hover {
		opacity: .95;
		background: rgba(#000, .8);
		color: #fff;
		cursor: pointer;
	}
}

.modal {
	position: absolute;
	top: -100%;
	left: 50%;
	width: 280px;
	transform: translate(-50%,-50%);
	opacity: 0;
	border: 2px solid black;
	border-radius: 10px;
	background: rgba(#000, .8);
	color: #fff;
	z-index: 1;
}

.modal_active {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 1;
	transition: all .5s;
}

.modal__head {
	height: 40px;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

.modal__btn-close {
	line-height: 40px;
	flex-basis: 40px;
	text-align: center;
	border-left: 2px solid black;
	border-radius: 0 7px 0 0;
	opacity: .95;
	background: rgba(#000, .8);
	color: #fff;
	cursor: pointer;
}

.modal__title {
	flex: 1;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
}

.modal__body {
	padding: 10px;
}

.colors {
	display: flex;
	flex-wrap: wrap;
}

.colors__items {
	flex: 1 1 35px;
	height: 35px;
	border: 1px solid gray;
	line-height: 35px;
	text-align: center;
	font-size: 0.9rem;
	cursor:pointer;
}

ul.modal__colors {
	margin-bottom: 7px;
}

.modal__subtitle {
	margin-bottom: 5px;
}

.red {
	background: #fe3e3d;
	color: #fe3e3d;
}
.orange {
	background: #fe8802;
	color: #fe8802;
}
.orange2 {
	background: #febb2f;
	color: #febb2f;
}
.green {
	background: #98cb00;
	color: #98cb00;
}
.blue {
	background: #009acc;
	color: #009acc;
}
.blue2 {
	background: #2cb4e6;
	color: #2cb4e6;
}
.pink {
	background: #ef96e4;
	color: #ef96e4;
}
.pink2 {
	background: #e82f73;
	color: #e82f73;
}
.yellow {
	background: #fef220;
	color: #fef220;
}
.gray {
	background: #ebecf2;
	color: #ebecf2;
}
.gray2 {
	background: #726e69;
	color: #726e69;
}

.gray3 {
	background: #3e3e3e;
	color: #3e3e3e;
}

.black {
	background: #000;
	color: #000;
}

.white {
	background: #fff;
	color: #fff;
}

.modal__input-block {
	margin: 5px 0 5px 0;
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.modal__input {
	width: 90%;
	padding: 0 10px;
	outline: none;
	border: none;
	flex: 1 1 50px;
	font-size: 15px;
	font-family: verdana;
}

.modal__place {
	line-height: 40px;
	flex-basis: 60px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	opacity: .95;
	background: rgba(#000, .8);
	color: #fff;
	cursor: pointer;
	border: 0;
	outline: none;
	line-height: 100%;
}

.text-canvas {
	position: absolute;
	top: 80px;
	left: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	padding: 0px 15px;
	border: 1px dashed black;
	cursor: move;
}

.text-icon {
	position: absolute;
	top: 0%;
	left: 100%;
	width: 40px;
	max-height: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}

.text-cancel {
	transform: translate(0,50%);
	background: #fe3e3d;
}

.text-ok {
	transform: translate(0,-50%);
	background: #98cb00;
}


.modal__subtitle_mobile {
	position: absolute;
	right: -1000px;
}

.save_mobile {
	position: absolute;
	right: -1000px;
}

.modal__input-block_mobile {
	position: absolute;
	right: -1000px;
}

.settings_mobile {
	right: 60px;
}

.previous {
	position: absolute;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.previous__text {
	text-align: center;
	font-size: 18px;
}

.previous__svg-block {
	height: 300px;
}

.previous__svg {
	height: 100%;
  stroke: black;
  stroke-width: 2px;
  fill: none;
  animation: animation 5s forwards;
}

@keyframes animation {
	0% {
		stroke-dasharray: 0% 100%;
	}
	80% {
		fill: white;
	}
	100% {
		stroke-dasharray: 100% 0%;
		fill: black;
	}
}
